.slider__wrap {
  background-image: url('../../../../public/images/slider_bg.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0;

  @media (min-width: 899.98px) {
    padding: 60px 0;
  }
}